@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}
html {
  scroll-behavior: smooth;
}
:root {
  --legal-primary: #e8c468;
  --text-black: #1d283a;
}
button {
  cursor: pointer;
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
